* {
    margin: 0;
    padding: 7px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: aqua;
    text-decoration: none;
    font-weight: 600;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--bg-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0, .2);
}

.navbar.active {
    left: 0;
}

.navbar a:hover,
.navbar a.active {
    color: aqua;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;

}

.home-content h1 {
    font-size: 35px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 25px;
    font-weight: 600;
    color: aqua;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
   
}

.btn-box a {
    padding: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #fe4e6e;
    border: 2px solid #fe4e6e;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: aqua;
}

.btn-box a:hover {
    background: #ededed;
    color: #fe4e6e;
}

.home-sci {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
    width: 170px;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
}

.home-sci a:hover {
    background: #ededed;
    color: aqua;
}
